# Foodly Scraper Test Report

Date: 24.01.2026, 11:52:16

### URL: https://aniagotuje.pl/przepis/lasagne-ze-szpinakiem
- **Status**: ✅ PASSED
- **Title**: Lasagne ze szpinakiem
- **Ingredients**: 12 found
- **Instructions**: 28 found
- **First Instruction**: "Z podanej ilości składników otrzymasz około 1,5 kg dania, czyli 4 spore porcje lub 6 małych. Przed s"...

### URL: https://www.kwestiasmaku.com/przepis/chakalaka-z-kurczakiem-i-kasza-peczak
- **Status**: ✅ PASSED
- **Title**: Kaszotto chakalaka z kurczakiem
- **Ingredients**: 14 found
- **Instructions**: 2 found
- **First Instruction**: "Kaszotto chakalaka z kurczakiem"...

### URL: https://www.przepisy.pl/przepis/roladki-z-miesem-mielonym-i-cukinia
- **Status**: ✅ PASSED
- **Title**: Roladki z mięsem mielonym i cukinią
- **Ingredients**: 11 found
- **Instructions**: 4 found
- **First Instruction**: "W garnku na rozgrzanym tłuszczu podsmaż mielone mięso. Smaż aż odparują wszystkie soki, dodaj wtedy "...

## Summary
- **Total**: 3
- **Passed**: 3
- **Failed**: 0
- **Success Rate**: 100%
